@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* 구글폰트 noto sans */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/* 나눔고딕 */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/* 'Russo One', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
    word-wrap: break-word;
    /* outline: 1px solid red; */
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.inner{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background-color: #00003C;
    height: 10vh;
}
.nav_top {
    padding: 10px 0 0 0;
    display: flex;
    justify-content: flex-end;
    width: 1200px;
    height: 30%;
    font: 800 0.875rem 'Nanum Gothic';
    letter-spacing: -0.2px;
}
.nav_top li a{
    display: block;
    margin: 0 20px;
}
.nav_bot{
    display: flex;
    height: 70%;
    padding: 0 0 15px 0;
}
.nav_bot .logo{
    width: 130px;
    height: 60px;
    background: url(/cjenm/images/cj_enm_logo.svg) 50% 50% no-repeat;
    background-size: contain;
    align-items: center;
    margin: 0 40px 0 0;
}
.nav{
    display: flex;
    align-items: center;
    font: 800 1.25rem 'Nanum Gothic';
    letter-spacing: -0.5px;
}
.nav li a{
    display: block;
    margin: 0 40px 0 0;
}
.container{
    height: 100%;
}
.container .top{
    display: flex;
    width: 100%;
    height: 90vh;
    position: relative;
}
.container .top::after{
    content: "";
    width: 100%;
    height: 100%;
    background: url(/cjenm/images/top-background.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;   
}
.top_txt{
    padding: 250px 0 0 0;
    height: 90%;
    text-align: center;

}
.sub_h2{
    font: 4rem 'Russo One';
    letter-spacing: -1.5px;
    text-shadow: 4px 4px 1px #fff;
}
.main_h1{
    font: 8rem 'Russo One';
    letter-spacing: -3px;
    color: #FFAA06;
    text-shadow: 8px 8px 2px #fff;
}
.dia_icon{
    width: 100px;
    height: 100px;
    background: url(/cjenm/images/diamond_fff.svg) no-repeat;
    margin: 80px auto;
    position: relative;
    left: 3px;
    top: 3px;
}
.dia_icon::after{
    content: "";
    width: 100px;
    height: 100px;
    background: url(/cjenm/images/diamond_org.svg) no-repeat;
    position: absolute;
    z-index: 0;
    top: -4px;
    left: -4px;
}
.top_txt > span{
    font: 700 1.8rem/1.3 'Nanum Gothic';
    letter-spacing: -1px;
    color: #333;
}
.arrow{
    height: 10%;
    background: url(/cjenm/images/arrow.svg) 50% 50% no-repeat;
    background-size: 30% 30%;
}
.sec1_infor{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 10vh;
    background-color: #00003C;
    color: #fff;
}
.left_liveir, .right_news{
    width: 32%;
    height: 100%;
    padding: 10px 20px;
}
.right_news{
    position: relative;
    display: flex;
    flex-direction: column;
}
.news_sub{
    width: 95%;
    height: 70%;
    display: flex;
    margin: 10px 0 0 0;
    justify-content: space-between;
    padding: 0 20px;
}
.news_sub > span:first-child, .right_news > h3{
    width: 75%;
}
.pre_arrow{
    position: absolute;
    top: 0;
    right: 0;
    height: 50%;
    width: 45px;
    background: url(/cjenm/images/arrow_w.svg) no-repeat;
    background-position: center;
    background-size: 60% 60%;
    transform: rotate(180deg);
    border: 1px solid #666;
    border-bottom: 0;
}
.next_arrow{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50%;
    width: 45px;
    background: url(/cjenm/images/arrow_w.svg) no-repeat;
    background-size: 60% 60%;
    background-position: center;
    border: 1px solid #666;
    border-top: 0;
    border-bottom: 0;
}
.sec2_business{
    display: flex;
}
.sec2_business .bu{
    flex-direction: column;
    width: 17%;
    height: 100vh;
}
.bu > h2{
    display: flex;
    font: 800 3.625rem/1.2 'Nanum Gothic';
    letter-spacing: -1.5px;
    height: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.bu > span{
    padding: 8px 0;
    position: relative;
    display: flex;
    justify-content: center;
    color: #fff;
    font: 700 1.25rem/2 'Nanum Gothic';
    letter-spacing: -1px;
}
.bu > span:nth-child(3)::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 5px;
    display: inline-block;
    background-color: #fff;
    position: absolute;
    top: -4px;
}
.bu.bg3 > span:nth-child(4)::before,
.bu.bg4 > span:nth-child(4)::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 5px;
    display: inline-block;
    background-color: #fff;
    position: absolute;
    top: -4px;
}
.bu.bg2 > span, .bu.bg5 > span{
    margin: 56px 0;
}
.bu.bg1 > span:nth-child(2){
    margin: 28px 0 0 0;
}
.bu.bg1{
    background: url(/cjenm/images/bu_tvshow.png) no-repeat;
    background-size: cover;
}
.bu.bg2{
    background: url(/cjenm/images/bu_film.png) no-repeat;
    background-size: cover;
}
.bu.bg3{
    background: url(/cjenm/images/bu_music.png) no-repeat;
    background-size: cover;
}
.bu.bg4{
    background: url(/cjenm/images/bu_digital_ott.png) no-repeat;
    background-size: cover;
}
.bu.bg5{
    background: url(/cjenm/images/bu_performing.png) no-repeat;
    background-size: cover;
}
.bu.bg6{
    background: url(/cjenm/images/bu_animation.png) no-repeat;
    background-size: cover;
}
.sec3_ir{
    background: url(/cjenm/images/ir_bt.png) no-repeat;
    background-size: cover;
    height: 100vh;
}
.ir_txt{
    padding: 200px 0 0 0;
    color: #fff;
}
.ir_txt > h1{
    font: 800 5rem 'Nanum Gothic';
    letter-spacing: -1.5px;
}
.ir_txt > h3{
    font: 700 2rem 'Nanum Gothic';
    letter-spacing: -1px;
    padding: 0 0 0 140px;
}
.ir_txt > span{
    font: 400 1.625rem 'Nanum Gothic';
    letter-spacing: -1px;
}
